<!DOCTYPE html>
<html lang="en">

<head>
    <title>CRUD your employees</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

<h3 class="text-muted">Home Page!</h3>

    <h3 class="text-muted">AT-Bay employees table:</h3>
        {{data}}
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Please select the Options</h3>
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="showSignIn">Edit Employee</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Add Employee</a>
                    </li>
                </ul>
            </nav>

        </div>

        </div>

        <footer class="footer">
            <p>&copy; AT-Bay 2020</p>
        </footer>

    </div>
</body>

</html>